<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradeCat</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
</head>
<body>
    <ul>
        <li><a href="/">About</a></li>
        <li><a href="/">Features</a></li>
        <li><a href="/">Get Started</a></li>
        <li><a class="register" href="/register">Register / Login</a></li>
    </ul>
    <div class="container">
        <img src="assets/background.png" alt="Main Interface" width="1450">
        <h1 class="splashtitle">GradeCat</h1>
        <h1 class="splashtext">The efficient grade management system.</h1>
    </div>
</body>
</html>
